<div class="background">
    <button [routerLink]="[ '/cvmaker']" class="router-back">back</button>
    <button (click)="changeStyle()" class="change-styles">Change Styles</button>
    <div class="styles-main">

        <div class="style-container" *ngIf="show">
             
            <div class="color-main">
                <p>BG Color</p>
                <input type="color" (input)="onChangeColor($event)" />
            </div>
            <div class="color-main">
                <p>BG Contact</p>
                <input type="color" (input)="onChangeColorContact($event)">
            </div> 
        </div>
    </div>
    <div class="main " *ngFor="let i of array" [style.background-color]="selectedColor">

        <div class="contact" [style.background-color]="selectedColorContact">
            <div class="contact-inner">
                <img [src]="i.PhotoUrl" alt="not found">
                <h2>Contact</h2>
                <div class="line"></div>
                <div class="information">
                    <h5>Phone</h5>
                    <p>{{i.phoneNumber}}</p>
                </div>
                <div class="line"></div>
                <div class="information">
                    <h5>Email</h5>
                    <p>{{i.email}}</p>
                </div>
                <div class="line"></div>
                <div class="information">
                    <h5>Address</h5>
                    <p>{{i.address}}</p>
                </div>
                <div class="line"></div>
                <div class="information">
                    <h5>Phone</h5>
                    <p>{{i.phoneNumber}}</p>
                </div>
                <div class="line"></div>
            </div>
        </div>
        <div class="about-person">
            <div class="template">
                <h1>{{i.name}}</h1>
                <p class="workdesc">{{i.companyWorkDescription}}</p>
                <p>{{i.aboutme}}</p>
            </div>
        </div>

        <!--  
    <p>{{i.age}}</p>    
    -->
    </div>
</div>