<main class="background" *ngIf="!isSignedIn">
  <div class="form-main-container back SignIn" id="form-main-container" *ngIf="!isSignedIn">
    <form action="" class="log-in-form" id="form" [formGroup]="UserInfo">
      <img src="../../../assets/images/curriculum.png" alt="logo" class="log-form-gif">
      <h2 class="form-h2">Create your account</h2>
      <p class="form-p">Star your best cv journey with</p>
      <div class="group">
        <input required="" type="text" class="input" #emailSignup formControlName="gmail"/>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Gmail</label>
        <span *ngIf="gmail && gmail.invalid && gmail.touched">enter your Gmail</span>
      </div>
      <div class="group">
        <input required="" type="password" class="input" #passwordSignup formControlName="password"/>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Password</label>
        <span *ngIf="password && password.invalid && password.touched">enter your password</span>
      </div>
      <a (click)="signInForm()" class="SignIn1">SignIn</a>
      <button class="submit"
      [disabled]="UserInfo.invalid"
      (click)="onSignup(emailSignup.value,passwordSignup.value)">
        Join Now
      </button>
      <p class="form-signup-description">By clicking Create Account, you are indicating that you have read
        and acknowledge the Terms and Conditions</p>
    </form>
  </div>
  <ng-container *ngIf="!isSignedIn">
    <div class="form-main-container1 back1" id="form-main-container1" *ngIf="show">
      <form action="" class=" log-in-form1" id="form" [formGroup]="signIn">
        <img src="../../../assets/images/close.png" alt="" (click)="hide()" class="close">
        <img src="../../../assets/images/curriculum.png" alt="logo" class="log-form-gif"> 
        <div class="group">
          <input required="" type="text" class="input" #email formControlName="Gmail"/>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
          <span *ngIf="Gmail && Gmail.invalid && Gmail.touched">enter your Gmail</span>
        </div>
        <div class="group">
          <input required="" type="password" class="input" #password formControlName="Password"/>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
          <span *ngIf="Password && Password.invalid && Password.touched">enter your password</span>
        </div> 

        <button class="submit" 
        [disabled]="signIn.invalid"
        (click)="onSignin(email.value,password.value)">
          Join Now
        </button>
        <div *ngIf="!isSignedIn" class="signInWithGoogle-main">
          <a (click)="signInWithGoogle()">
            <div class="card">
              <div class="card-body">
                <img src="../../../assets/images/google.png" alt="google" class="google-icon">
                sign in with google
              </div>
            </div>
          </a>
        </div>
      </form>
    </div>
  </ng-container>
</main>
<app-cvmaker *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-cvmaker>