/* You can add global styles to this file, and also import other style files */
html,body{
    margin: 0;
    padding: 0;
    min-height: 100% !important;
    height: 100%;  
}
/* width */

::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #40c5ba);
    border-radius: 6px;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #00c6ff, transparent);
  }
  